.container
{
	width: 100%;
	background-color: rgba(0,0,0,0.4);

}
.wrapper
{
	width: 900px;
	margin: auto;
}
.dark
{
	background-color: rgba(0,0,0,0.4);
	color: white;
}

*{
	margin:0px;
	font-weight: bolder;
	}
ul li
{
	
	width: 140px;
	display: inline-block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	font-weight: bolder;
}
ul li a
{
	color: white;
	text-decoration: none;
	display: inline-block;
	font-weight: bolder;
}

ul li a:hover
{
	background-color: yellow;
	color:black;
	font-weight: bold;
}

ul li{
	cursor: pointer;
	margin-left: 65px;
	font-weight: bolder;
}

.container1
{
	background-color: rgba(0, 0, 0, 0.5);
	color: white;
	width: 100%;
	font-weight: bold;
}